.groups
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      %p.groups__name-group
        = group.name
      %p.groups__name-text
        = group.show_last_message

