.groups
  - current_user.groups.each do |group|
    = link_to '#' do
      %p.groups__name-group
        = group.name
      %p.groups__name-text
        メッセージはまだありません。


-# --------------------
-# イランはず
-# .groups
-#   %p.groups__name-group
-#     text-group 
-#   %p.groups__name-text
-#     さようなら

-#   %p.groups__name-group
-#     sample-group
-#   %p.groups__name-text
-#     hello!

-#   %p.groups__name-group
-#     example
-#   %p.groups__name-text
-#     まだメッセージがありません。