*{
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  height: 100vh;
}
.account-page__inner--left h2{
color: black;
}
.chat-side{
  float: left;
  background-color: #253141;
  width: 300px;
  height: 100%;
  overflow: scroll;
}

.side-header{
  height: 100px;
  padding:0px 20px;

  &__text{
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  float:left;
  line-height: 100px;
  }

  &__btn{
    color: white;
    float: right;
    line-height: 100px;
    padding: 2px;
  }
}

.groups{
  background-color: #2f3e51;
  height: calc(100% - 100px);
  padding:0px 20px;

  &__name-group{
    color: #ffffff;
    font-size:15px;
    padding-top:20px;
  }

  &__name-text{
    color: #ffffff;
    font-size:11px;
    padding-top:5px;
    padding-bottom: 40px;
  }
}

.chat-main{
  height: 100%;
  width: calc(100% - 300px);
  margin:0px 0px 0px 300px;
  
}

.main-header{
  height: 100px;
  border:solid 1px #eeeeee;
  padding:0px 40px;
  &__name-group{
    color:#333333;
    font-size:20px;
    padding-top:35px;
  }
  &__name-member{
    color:#999999;
    font-size:12px;
    padding-top:15px;
  }
}
.main-header__btn{
    float: right;
    height: 40px;
    line-height: 40px;
    padding:0px 20px;
    margin-top:30px;
    border: solid 1px #38Aef0;
    color: #38Aef0;
    text-decoration: none;
  }

.messages{
  background-color: #fafafa;
  height: calc(100% - 190px);
  padding:0 40px;
  overflow: scroll;

  &__username{
    color: #434A54;
    font-size:16px;
    padding-top:46px;
    font-weight: bold;
    display: inline-block;
  }
  &__post-date{
    color:#999999;
    font-size:12px;
    display: inline-block;
  }
  &__post-text{
    color: #434a54;
    font-size:14px;
    padding:10px 0px 40px  0px;
  }
  }


.form{
  background-color: #ddd;
  height: 90px;
  width: 100%;
  padding: 0px 40px;
}

.form__box{
  position: relative;

  &__textbox{
    position: absolute;
    height: 50px;
    width: calc(100% - 120px);
    top:20px;
  }
  
  
  .form__submit{
    position: absolute;
    right: 5px;
    top: 20px;
    border-radius : 5%;
    font-size     : 12pt;
    text-align    : center;
    padding       : 16px 32px;
    background    : #38Aef0;
    color         : #ffffff; 
    line-height   : 1em;
}
}
.icon{
    position: absolute;
    top:38px;
    float: right;
    right: 130px;
    color:black;
    font-size:20px;
    
}

.hidden{
  visibility: hidden;
}